html{
	background-color: rgba(3,164,162,0.2);
}

nav{
	background-image: url("navbg_o.jpeg");
	/* https://www.datamation.com/artificial-intelligence/artificial-intelligence-vs-machine-learning-2/ */
	min-height: 150px;

	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	padding-bottom: 20px;
	text-align: center;
}


.nav_link{
	border-bottom: 1px solid rgba(255,255,255,.3);
}
.nav h1{
	font-size: 2em;
}

.nav ul{
	margin: 0;
}
.nav li{
	display: inline;
}
.nav a{
	display: inline-block;
	padding: .5em;
	color: white;
	text-decoration: none;
}
.nav a:hover{
	background-color: rgba(200,200,200);
}

.nav #author_list{
	color: rgba(242, 253, 170, 1);
	font-size: 1.3em;

}
.nav #title{
	color: rgba(242, 253, 170, 1);
	/*font-weight: normal;*/
}
.testborder {
	border-color: red;
	border-width: thin;
}



.row {
	display: flex;
	flex-wrap: wrap;
	padding: 0 4px;
}

.slice{
	background-color: grey;
}

div .column {
	flex: 15%;
//	width: 150px;
}

.side{
	flex: 15%;
	background-color: rgba(48,246,184,0.3);
}


.column img {
  margin-top: 8px;
  vertical-align: middle;
}



*,
*::before,
*::after {
  box-sizing: border-box;
}


:root {
  --select-border: #777;
  --select-focus: blue;
  --select-arrow: var(--select-border);
}



select {
  // A reset of styles, including removing the default dropdown arrow
  appearance: none;
  background-color: transparent;
  border: none;
  padding: 0 1em 0 0;
  margin: 0;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;

  // Stack above custom arrow
  z-index: 1;

  // Remove dropdown arrow in IE10 & IE11
  // @link https://www.filamentgroup.com/lab/select-css.html
  &::-ms-expand {
    display: none;
  }

  // Remove focus outline, will add on alternate element
  outline: none;
}

.select-container{
	padding: 10px;
  //background: rgba(48,246,184,0.3);
  border-bottom: 1px dashed black;
}

.select{
	display: grid;
  grid-template-areas: "select";
  align-items: center;
  position: relative;

  select,
  &::after {
    grid-area: select;
  }

  min-width: 15ch;
  max-width: 30ch;

  border: 3px solid var(--select-border);
  border-radius: 0.25em;
	padding: 0.5em;
  font-size: 1rem;
  cursor: pointer;
  line-height: 1.1;

  // Optional styles
  // remove for transparency
  background: #fff;
  background-image: linear-gradient(to top, #f9f9f9, #fff 33%);

  // Custom arrow
  &:not(.select--multiple)::after {
    content: "";
    justify-self: end;
    width: 0.8em;
    height: 0.5em;
    background-color: var(--select-arrow);
    clip-path: polygon(100% 0%, 0 0%, 50% 100%);
  }
}

.radio-container{
//	background: #4FCB9C;
//	background: rgba(48,246,184,0.3);
	border-bottom: 1px dashed black;
	padding: 10px;
}


.radio{
	display: block;
	cursor: pointer;
	user-select: none;
	text-align: left;
	&+.radio{
    margin-top: 12px;
  }
   input{
    display: none;
    &+span{
      display: inline-block; 
      position: relative;
      padding-left: 30px;
      &:before{
        content: '';
        display: block; 
        position: absolute;
        top: 0px;
        left: 0px;
        border-radius: 50%;
        margin-right: 5px;
        width: 16px;
        height: 16px;
        border: 1px solid #ccc;
        background: #fff;
      }
      &:after{
        content: '';
        display: block; 
        width: 10px;
        height: 10px;
        background: #222;
        position: absolute;
        border-radius: 50%;
        top: 3px;
        left: 3px;
        opacity: 0;
        transform: scale(0,0); 
        transition: all .2s cubic-bezier(0.64, 0.57, 0.67, 1.53);
      }
    }
    &:checked+span:after{
      opacity: 1;
      transform: scale(1,1);
    }
  }
}


hr{
	border: 1px dashed;
}


#side-title{
	text-align: center;
	font-size: 1em;
}

.rlabel{
	padding-top: 10px;
	margin: 10px;
	font-weight: bold;
//	text-align: left;
}

#title{
	font-size: 1.5em;
}

/* CSS */
.button-4 {
  appearance: none;
  background-color: #FAFBFC;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: #24292E;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 6px 16px;
  position: relative;
  left: 65px;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
  margin: 10px;
}

.button-4:hover {
  background-color: grey;
  text-decoration: none;
  transition-duration: 0.1s;
}

.button-4:disabled {
  background-color: #FAFBFC;
  border-color: rgba(27, 31, 35, 0.15);
  color: #959DA5;
  cursor: default;
}

.button-4:active {
  background-color: #EDEFF2;
  box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
  transition: none 0s;
}

.button-4:focus {
  outline: 1px transparent;
}

.button-4:before {
  display: none;
}

.button-4:-webkit-details-marker {
  display: none;
}

.upload{
	margin: 10px;
	padding: 10px 0px 20px 0px;
	border: 1px solid black;
}


.posterbox {
  display: grid;
  height: 100%;
}
.poster {
  width: 60%;
  height: auto;
  
}