<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title> EC601 Project About</title>
        {% load static %}

        <link rel="stylesheet" type="text/css" href="{% static 'show_mri/styles.css' %}"/>
    </head>
    <body>
        <header>
	        <nav class="nav" style="min-height: 40px;">
	            <div class="nav_link" id="navabout" > 
	                <ul>
	                    <li><a href="/show_mri/about.html" >ABOUT</a></li>
                    	<li><a href="/show_mri" >HOME</a></li>
	                </ul>
	            </div>
	        </nav>
	    </header>
	    <section>
	    	
   				<img class="poster" style="width: 100%;" src="{% static "Poster.png"%}">
			
		</section>
    </body>
</html>


